* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h1-index {
    text-decoration: overline;
}
.btn-submit {
    text-decoration: none;
    color: #fff;
}
.btn-submit:hover {
    color: #fff;
}
.link-reco {
    text-decoration: none;
}
.link-gen {
    text-decoration: none;
}
.copy {
    font-size: 0.9rem;
}
.link-nav-foo {
    border-radius: 5px;
    transition: box-shadow 0.2s ease;
}
.link-nav-foo:hover {
    box-shadow: 0 0 0.5em rgba(196, 186, 186);
    color: #fff;
}
.mt-6{
    margin-top: 78px;
} 
.py-6 {
    padding: 4rem 0;
}

.reco-usuario {
    font-size: 20px;
    text-decoration: none;
}

#mainBruno {
    padding: auto 0;
}
.imgRedes{
    width: 100px;
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .imgRedes {
        width: 55px;
    }

}